<!DOCTYPE html>
<html>
    <head>
        <title>Hello world!</title>
        <link type="text/css" rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        {{ content }}
        <br>
        <div id="apiform">
            <form method="POST" action="/userdata/">
                <label for="apikey">API Key</label>
                <input type="password" name="apikey" id="apikey">
                <label for="webhook">Webhook URL</label>
                <input type="url" name="webhook" id="webhook">
                <input type="submit" value="Go">
            </form>
        </div>
    </body>
</html>
